/* ----------
 Google Font
------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* -----------
  Navigation
------------- */

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}
nav h3{
    font-size: 25px;
}
nav ul{
    display: flex;
}
nav li a{
   text-decoration: none;
   color: black;
   font-family: 'Poppins', sans-serif;
}
nav li{
    list-style: none;
    margin: 10px 25px;
    justify-items: center;
}
.nav-icon{
    margin: 10px 25px;
    justify-items: center;   
}

/* -----------
  Header Part 
-------------*/

.header-top{
    display: flex;
    justify-content: space-between;
}
.header-top-left{
    margin-top: 100px;
    margin-left: 120px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 0;
}
.half-width{
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;
}
.button{
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    border: 0;
    border-radius: 41px;
    margin-top: 18px;
    padding: 10px 24px 10px 24px;
    color: white;
    font-weight: 700;
}
.button:hover{
    background-color: #a42323;
}
.fa-arrow-right{
    margin-left: 10px;
}
.half-width img{
    width: 70%;
    height: min-content;
}
.half-width img:hover{
    width: 74%;
    transition: 1s;
}

/* -----------
  Brand Logo
 -------------*/

 hr{
    width: 90%;
 }
 .logos{
    display: grid;
    grid-template-columns: repeat(7 ,1fr);
    justify-content: center;
    padding: 10px;  
    margin-left: 80px;
 }

 /* -------------------
   Popular Collection
  ---------------------*/

.popular-collection{
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;;
    
}
.center-h2{
    text-align: center;
    margin-bottom: 35px;
}
.container-one{
    background-color: white;
    height: 476px;
    width: 329px;
}
.container-one img{
    width: 300px;
    height: 256px;
    margin: 0;
}
.pc-info h2{
    width: 151px;
    height: 40px;
    margin: 0;
}
.pc-info h3{
    width: 82px;
    height: 36px;
    margin: 0;
}
.star{
    display: flex;
    justify-content: center;
}
.star p{
    margin-left: 20px;
}
.text{
    width: 196px;
    height: 60px;
    margin: 0;
}

/* -------
    Body
 --------*/

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: whitesmoke;
}

/*------
Footer 
-------*/

footer{
    background-color: #0A0826;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    width: 100%;
}
.footer h2{
    margin-bottom: 0;
}
.footer.text{
    margin-top: 0;
}
.footer-link{
    font-size: 25px;
    opacity: 0.8;
}