/* ----------
 Google Font
------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* -------
    Body
 --------*/

 body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: whitesmoke;
}

/* -----------
  Navigation
------------- */

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}
nav h3{
    font-size: 25px;
}
nav ul{
    display: flex;
}
nav li a{
   text-decoration: none;
   color: black;
   font-family: 'Poppins', sans-serif;
}
nav li{
    list-style: none;
    margin: 10px 25px;
    justify-items: center;
}
.nav-icon{
    margin: 10px 25px;
    justify-items: center;   
}

/* -----------
  Header Part 
-------------*/

.header-top{
    display: flex;
    justify-content: space-between;
}
.header-top-left{
    margin-top: 100px;
    margin-left: 120px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 0;
}
.half-width{
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;
}
.button{
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    border: 0;
    border-radius: 41px;
    margin-top: 18px;
    padding: 10px 24px 10px 24px;
    color: white;
    font-weight: 700;
}
.button:hover{
    background-color: #a42323;
}
.fa-arrow-right{
    margin-left: 10px;
}
.half-width img{
    width: 70%;
    height: min-content;
}
.half-width img:hover{
    width: 74%;
    transition: 1s;
}

/* -----------
  Brand Logo
 -------------*/

 hr{
    width: 90%;
 }
 .logos{
    display: grid;
    grid-template-columns: repeat(7 ,1fr);
    justify-content: center;
    padding: 10px;  
    margin-left: 80px;
 }

 /* -------------------
   Popular Collection
  ---------------------*/


.popular-collection{
    margin-top: 80px;
}
.popular-collection h2{
    font-size:28px;
    text-align: center;
}

.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 0;
    margin-left: 250px;
    margin-right: 250px;
}
.product{
    padding: 10px 10px;
    border-radius: 10px;
    height: 430px;
    width: 320px;
    margin: 30px;
    background-color: white;
    align-items: center;
    box-shadow: 1px 1px 2px 2px lavender;
}

.product-banner img{
    width: 320px;
    height: 256px;
    margin-bottom: 16px;
    justify-content: center;
}

.product-info h3{
    margin-top: -10px;
    margin-left: 0px;
    color: #18191F;
    margin-bottom: 6px;
    font-weight: 700;
}
.product-info p{
    margin-top: 0;
    font-size: 20px;
    margin-bottom: -2px;
}

.star{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.star,p{
    margin-right: 11px;
}
.star-full{
    color: #FFC014;
}
.star-half{
    color:  #FFC014;
    margin-left: 3.24px;
    margin-right: 10.71px;
}
.product-explain p{
    margin-top: 0;
    font-size: 14px;
}
.see-more a{
    margin-top: 150px;
    margin-left: 75%;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 40px;
    color: #E02C6D;
    border: 0;
}

/*-------------------
  Motivate Yourself 
--------------------*/

.motivation{
    display: flex;
}
.highlight{
    color: orange;
}
.motivate{
    width: 40%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;
    margin-left: 110px;
}
.youtube-motivate{
    width: 60%;
    height: min-content;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;
    margin-right: 270px;
}

/*--------
  Footer 
---------*/

footer{
    background-color: #0A0826;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    width: 100%;
}
.footer h2{
    margin-bottom: 0;
}
.footer.text{
    margin-top: 0;
}
.footer-link i{
    font-size: 25px;
    opacity: 0.8;
    padding-right: 20px;
}